<!-- HERO -->
<section class="=hero">
    <div class="hero__container container">
        <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
        <p class="hero__text">
            <span class="hero__text-part-first">Просто не будет.</span><br>
            Но ты гарантировано наберешь<br>
            <span class="hero__text-part-last">+25 баллов</span>
        </p>

        <button class="hero__btn btn" type="button">Хочу на бесплатное занятие</button>

        <!-- <img src="./images/Group_57@1x" alt="Офисные сотрудники что-то обсуждают сидя за столом"> -->
    </div>
</section>